/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0;
    padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header a h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

.main-header {
    max-height: 600px;
    background-color: #000000a3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    width: 100vh;
    justify-content: space-between;
}

header nav a {color:white}

header h1 {font-size: 6em;font-weight: bold;}

header {color:white}

.socials {    display: flex;
    width: 300px;
    padding: 30px;
    justify-content: space-between;}

.socials a {
    font-size: 2.3em;
    color: #e8f8e1
}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

.gallery h2 {
    color: white;
    padding: 30px
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    justify-items: center;
    padding: 0 100px;
}

.gallery-grid img {
    width: 100%;
}

/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
    color: white;
}

.about h2 {
    width: 100%;
    margin-top: -70px;
}

.about p {
    font-size: 2em
}

.about-container .text {
    width: 60%;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
    color: white;
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.contact a {
    color: white
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.contact p,a {font-size: 1.7em}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    width: 100%;
    padding-top: 2.5vh;
    font-size: 3rem;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

footer nav a {
    color: white;
    font-size: 1em
}

footer nav {
        display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: .6em;
    text-align: center;
    padding: 25px;
}

.nav {width: 50%}

.email-signup {text-align:center}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    header a h1 {
        font-size: 1.6em;
        font-weight: bold;
        color: white;
        padding-bottom: 20px;
    }

    header nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    /* gallery section */
    .gallery {
        height: auto;
    }

    .gallery-grid {
        display: flex;
        text-align: center;
        justify-items: center;
        padding: 20px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .gallery h2 {
        color: white;
        padding: 30px;
        font-size: 3rem;
    }
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }

    .about h3 {
        font-size: 4rem
    }
    
    .about-container .text {
        width: 85%;
    }


    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .email-signup {
        padding-bottom: 20px;
    }

    button {width: 100%;}
    input {width: 100%;}
}
